.title{
	height: 110px;
	line-height: 120px;
	font-size: 40px;
    text-align: center;
    background-color: #fae7dc;
    color: orange;
}
.Btn{
	display:inline-table;
}
.bmr{
	margin:0% 4%;
}
.btn{
	border-color:#80808038;
	border-radius: 6px;
	font-size: 15px;
	padding: 17.5% 4.5%;
	margin: 20% 2%;
	width:70px;
}
.bgc,table{
	background-color: white;
}
.Bgc{
	background-color: rgb(247, 244, 244);
}
.ccl{
	color:orange;
	font-size:25px;
	text-decoration: none;
}
/*------ モーダルCSS開始 -------------- */
/*モーダルを開くボタン*/
.modal-open{
	display: flex;
	cursor: pointer;
	transform: translate(-50%,-50%);
	position:fixed;
	top:90%;
	right:3%;
	border-radius:10px;
	border:grey;
	height:55px;
	font-size:20px;
}
/*バック・フォントカラー*/
.color{
	background-color: orange;
	color:white;
}
/*モーダル内：入力欄*/
input,textarea{
	font-size:31px;
	border:2px solid  #f08c4c;
	border-radius: 10px;
	width:96%;
}

#mdlcontent{
	height:100px;
	width:98%;
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	height:500px;
    padding:3%;
    display: block;
}
/*モーダル入力エリア*/
.mdlArea{
    margin:6%;
}
/*モーダル送信ボタン*/
#mdlbtnArea button{
	font-size:25px;
	width: 60%;
    min-width: 240px;
    height: 60px;
    border: 1px solid #b7b6b6;
	border-radius:5px;
	margin-left:19%;
}
/* モーダル内入力欄タイトル */
.inptitle{
	text-align: left;
}
/*------ モーダルCSS終了 -------------- */


table { 
	table-layout: fixed;
	width: 100%; 
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid;
	border-color:#80808038;
	padding:0 10px;
}
thead, tbody{
	display:block;
	width:100%;
}
tbody{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
}
table tr{
	display:flex;
	border-collapse: separate;
	border-bottom: 2px solid #80808038;
}
.first_header{
	width:20%;
	text-align:left;
}
.second_header{
	width:40%;
	text-align:left;
}
.third_header{
	width:40%;
	margin-right:17px;
	text-align:left;	
}
.first_data{
	width:20%;
}
.second_data{
	width:40%;
}
.third_data{
	width:40%;
}
