body{
	background-color: #f4f4f4;
}
/*ƒ^ƒCƒgƒ‹*/
.txtcl{
	height: 120px;
	background-color: #fbdfcc;
	color: orange;
	text-align:center;
	font-size:50px;
	line-height: 125px;
}
.btn{
	background-color: #f08c4c;
	color: white;
	font-size:30px;
	border:1px solid  #f08c4c;
	border-radius: 10px;
	font-weight:bold;
	cursor: pointer;
	width:60%;
	margin:3% auto;
	display:block;
}
.none{
	display:none;
}