.title{
	height: 110px;
	line-height: 120px;
	font-size: 40px;
    text-align: center;
    background-color: #fae7dc;
    color: orange;
}
.Btn{
	display:inline-table;
}
.bmr{
	margin:0% 4%;
}
.btn{
	border-color:#80808038;
	border-radius: 6px;
	font-size: 15px;
	padding: 17.5% 4.5%;
	margin: 20% 2%;
	width:70px;
}
.btnC{
	color:white;
	background-color:orange;
}
.bgc,table{
	background-color: white;
}
.Bgc{
	background-color: rgb(247, 244, 244);
}
.ccl{
	color:orange;
	font-size:25px;
	text-decoration: none;
}

.none{
	display:none;
}
.languageValue{
	display:none;
}

.search-box [type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: -2px 5px 0 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}
#searchArea{
	display:none;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid;
	border-color:#80808038;
	padding:0 10px;
	width:100%;
	background-color: white;
}
.searchSubArea{
	margin:3% auto;
	text-align:center;
}
input{
	font-size:20px;
	border:2px solid  #f08c4c;
	border-radius: 10px;
}



table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid;
	border-color:#80808038;
	padding:0 10px;
}
thead, tbody{
	display:block;
	width:100%;
}
tbody{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
}
table tr{
	display:flex;
	border-collapse: separate;
	border-bottom: 2px solid #80808038;
}
table th{
    padding:2% 0;
}
.first_header{
	width:20%;
	text-align:left;
}
.second_header{
	width:20%;
	text-align:left;
}
.third_header{
	width:30%;
	margin-right:17px;
	text-align:left;	
}
.fourth_header{
	width:30%;
	margin-right:17px;
	text-align:left;
}
.first_data{
	width:20%;
}
.second_data{
	width:20%;
}
.third_data{
	width:30%;
}
.fourth_data{
	width:30%;
}
