.title{
	height: 110px;
	line-height: 120px;
	font-size: 40px;
	text-align: center;
	background-color: #fae7dc;
	color: rgb(255, 106, 0);
}
.titltop{
	margin-top:-2%;
}
.btn{
	border-color:#80808038;
	border-radius: 6px;
	font-size: 30px;
	padding: 0.5% 1.5%;
	margin: 2% 3%;
}
.bgc{
	background-color: white;
}
.Bgc{
	background-color: rgb(247, 244, 244);
}
#file{
	all: initial;
    font-size: 37px; 
    height: 200px;
}
/* クリックしょりを非表示 */
#file{
	opacity:0%; 
}
input{
	font-size:35px;
	border:2px solid  #f08c4c;
	border-radius: 10px;
}
.input{
	font-size:35px;
	border:2px solid  #f08c4c;
	border-radius: 10px;	
	width:50%;
	height:55px;
	font-size:35px;
	border:2px solid  #f08c4c;
	border-radius: 10px
}
.lbtn{
	background-color: #f08c4c;
	color: white;
	font-size:40px;
	border:1px solid  #f08c4c;
	border-radius: 10px;
	display: block;
	width:35%;
	margin: auto;
	font-weight:bold;
	cursor: pointer;
}
.text{
	font-size: 30px;
	margin:13px 0 0 0;
	width:40%;
}

.put{
	margin-top: 20px;
	margin-bottom: 55px;
	text-align: center;
	display:flex;
}
.mainArea{
	display:block;
	width:100%;
}
/* 画像エリア */
.dragDropArea{
  background-color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border: #ddd dashed 5px;
  min-height: 200px;
  text-align: center;
  width:47%;            
}
.dragDropArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}

/* 画像タイトル */
.imgTitle{
	margin-top:10%;
}
/* 画像 */
.image{
	text-align: center;
}

.attach-file img{
  width: 100%;
  height: 100%;
}
.Check{
	width:40%;
	display:inline-block;
}
.check{
	text-align:center;
}
.chinp{
	font-size:20px;
	width:25%;
	display:inline-block;
}

.err{
	text-align: center;
	font-size:20px;
	color:red;
}
.valiErr{
	text-align: center;
	font-size:20px;
	color:red;
}
.none{
	display:none;
}


