<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- タイトル -->
	    <title>Kadai4画面</title>
	    <!-- エンコード -->
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		
	    <!-- フォーム -->
	    <form method="post" th:action="@{/input_3}" th:object="${Kadai4Class}">
	    	<!-- 入力エリア -->
	    	<fieldset>
	    		<!-- 入力エリア題名 -->
	    		<figure>入力3</figure>
	    		
			    <!-- 入力 -->
			    <input type="text" th:field="*{input_3}" placeholder="入力"/>
			    
				<!-- テスト出力(Modelに設定した"name"の値を出力) -->
			    <p th:text="*{disp_3}" ></p>
		    
		    	<button type="submit">リクエスト</button>
		    </fieldset>
	    </form>
	</body>
</html>