<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- エンコード -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- エンコード -->
        <link rel="stylesheet" th:href="@{/css/master.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    	<!-- JS -->
		<script type="text/javascript" src="javascript/jquery-3.6.2.min.js"></script>
		<script type="text/javascript" src="javascript/master.js"></script>
    </head>

    <body class="Bgc">
    	<!-- タイトル -->
        <div class="title" th:insert="common_replace :: header_master"></div>
        <!-- 戻るボタン -->
        <form class="Btn bmr" th:action="@{/backTop2}"> 
            <button class="btn bgc"  type="submit">戻る</button>
        </form>
        <!-- 追加ボタン -->
        <form class="Btn" method="get" th:action="@{/insert}">
            <button class="btn bgc" type="submit">追加</button>
        </form>
        <!-- 出力ボタン -->
        <form id="csvform" class="Btn bmr" method="post" action="/download">
		    <input type="hidden" name="filename"/>
		    <button  class="btn bgc" type="submit" name="OK">出力</button>
		</form>
		
		<!-- 新規登録ボタン -->
		<button id="signup" class="accent modal-open color" type="button">
			QA
		</button>

		<!-- モーダル -->
		<div class="modal-container">
			<div class="modal-body">
				<!-- 閉じるボタン -->
				<div class="modal-close">×</div>
				<!-- モーダル内のコンテンツ -->
				<div class="modal-content">
					<!-- モーダル内の入力欄 -->
					<form name="contactform" id="contactform"  role="form">
						<div class="form-group mdlArea inptArea">
						  <label for="inputName" class="col-sm-3 inptitle">お問い合わせ概要</label>
						  <div class="col-sm-9">
						    <input type="text" class="form-control mdlinpt" name="view" value="">
						  </div>
						</div>
						<div class="form-group mdlArea inptArea">
						  <label for="inputEmail" class="col-sm-3 inptitle">メールアドレス</label>
						  <div class="col-sm-9">
						    <input type="email" class="form-control mdlinpt" name="mail" value="">
						  </div>
						</div>
						<div class="form-group mdlArea inptArea">
						  <label for="inputMessage" class="col-sm-3 inptitle">お問い合わせ内容</label>
						  <div class="col-sm-9">
						    <textarea class="form-control mdltext" name="content" rows="5">
						    </textarea>
						  </div>
						</div>
						<div id="mdlbtnArea" class="text-center">
						  <button type="button" name="btnSubmit" 
						          class="btn-success mdlSignup accent color" id="btnSend">送信</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
       	<!-- テーブル -->
       	<table class="table">
          		<!-- テーブルヘッド -->
            <thead>
                <tr>
                    <th class="first_header"><strong>削除</strong></th>
                    <th class="second_header"><strong>技術名</strong></th>
                    <th class="third_header"><strong>オプション</strong></th>
                </tr>
            </thead>
            <!-- テーブルボディ -->
            <tbody>
            	<!-- 技術名取得 -->
            	<!-- th:each変数とobject{}内　一致していないとダメ　↓master -->
                <tr th:each="master : ${masterList}" th:object="${master}">
                	<!-- クエリ形式　ベタ打ち（？）or綺麗（key,value） -->
                    <!--  <td class="first_data"><a class="ccl" th:href="@{/delete?id=} + *{id}"> × </a></td>-->
                    <td class="first_data"><a class="ccl" th:href="@{/delete(id=*{id})}"> × </a></td>
                    <td class="second_data"><a th:href="@{/update(id=*{id})}" th:text="*{name}"></a></td>
					<td class="third_data" th:text="*{option_1}"/>
                </tr>
            </tbody>
        </table>
    </body>
</html>
