<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- エンコード -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" th:href="@{/css/thymeleaf2.css}">
		
	</head>
	
	<body>
		<h1>テスト画面</h1>
		
		
		<h4>文字列結合</h4>
		<!-- 1.サーバーで設定した値　th:text="${name}"　を出力 -->　
		<!-- 2.文字列結合　th:text="${'氏名：' + name}"　シングルコーテンションで可能 -->
		<!-- 3.↓　サーバーで設定した2つの値（キー名：test, name）を結合を出力 -->
		<p th:text="${test + name}"/>
		
		<h4>算術演算子</h4>
		<!-- サーバーで設定した数値を掛け算 th:text="${num * 3}" -->
		<!-- ↓　サーバーで設定した2つの数値(キー名：num, num2)を掛け算 -->
		<p th:text="${num * num2}"/>
		
		<h4>条件演算子</h4>
		<!-- numは10より小さい場合は固定文言で'小さい'そうでない場合は'大きい' -->
		<p th:text="${num < 10 ? '小さい' : '大きい	'}"/>
		<!-- サーバーで設定した値(キー名：name2)と'佐藤'が等しいかどうか -->
		<p th:text="${name2 == '佐藤' ? '等しい' : '異なる'}"/>
		
		<h4>条件式　if文</h4>
		<!-- サーバー設定(キー名：test1, 変数false（boolean型）) -->
		<!-- if文の設定値がfalseのため"テスト"出力されない -->
		<p th:if="${test1}">テスト1</p>
		
		<!-- サーバー設定(キー名：test2, 変数true（boolean型）) -->
		<!-- if文の設定値がtrueのため"テスト"出力される -->
		<p th:if="${test2}">テスト2</p>
		
		<!-- サーバー設定(キー名：test3, boolean型変数flag) -->
		<!-- if文の設定値が条件演算子num3が10より大きいため"テスト"出力されない -->
		<p th:if="${test3}">テスト3</p>
		
		<!-- サーバー設定(キー名：test4) -->
		<!-- if文の設定値num4が10より小さいため"テスト"出力される -->
		<p th:if="${num4 < 10}">テスト4</p>
			<!-- ※子要素(input~)も親要素(p~)の条件式に(表示する/表示しないが)反映されるので注意 -->
			<!-- <input type="text">-->
		
		<h4>条件式　swich文</h4>
		<!-- サーバーの設定値によって該当する値が出力する -->
		<!-- キー名："size" 値がsmall/middle/large　以外の場合は、"*"が出力される　-->
		<!-- →　etc サーバー設定値が"test"の場合、"オーダーメイド"が出力される-->
		<!-- 今回はサーバー設定値"middle"のため、"Mサイズ"が出力される -->
		<div th:switch="${size}">
		  <p th:case="small">Sサイズ</p>
		  <p th:case="middle">Mサイズ</p>
		  <p th:case="large">Lサイズ</p>
		  <p th:case="*">オーダーメイド</p>
		</div>
		
		<h4>論理演算子</h4>
		<!-- ||(or) &&(and) -->
		<!-- num5の値が10より小さい、かつ5より大きい場合"テスト5"出力 -->
		<p th:if="${num5 < 10 && num5 > 5}">テスト5</p>
		
		<h4>属性値の変換</h4>
		<!-- ↓　サーバー設定値"hello"が出力 -->
		<!--　変換前： <P th:text="${text}" /> -->
		<!-- ↓　論理演算子　や文字列結合"${text + '~'}"も可能 -->
		<!-- ↓　属性値変換　画面検証ソースではclass属性値に"hello"が入る -->
		<p th:class="${text}">テスト6</p>
		
		<h4>繰り返し処理</h4>
		<!-- サーバーで設定したリストの出力 -->
		<!-- 拡張for文の役割　変数str(設定)　：　${キー名} -->
		<ul th:each="str : ${text1}">
			<!-- リストの値をth:textとして出力される -->
			<li th:text="${str}"/>
		</ul>
		
		<h4>繰り返し処理　クラスインスタンス</h4>
		<!-- サーバーで設定したpersonlistの値出力 -->
		<!-- 変数human : キー名personlist -->
		<ul th:each="human : ${personlist}">
			<!-- リストの値をth:textで出力 -->
			<!-- 変数.idの取得　2/4　出力-->
			<li th:text="${human.id}"/>
			<!-- 変数.nameの取得　田中/佐藤　出力 -->
			<li th:text="${human.name}"/>
		</ul>
		
		<h4>繰り返し処理　クラスインスタンス　object属性</h4>
		<!-- object属性　 -->
		<ul th:each="human : ${personlist}" th:object="${human}">
			<!-- object属性　*{}で値の出力　-->
			<!-- ※イメージobjectがインスタンス自体呼び出しのため　変数.　要らない　-->
			<li th:text="*{id}"/>
			<li th:text="*{name}"/>
		</ul>
	</body>
</html>