<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <!-- エンコード -->
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <!-- エンコード -->
	    <link rel="stylesheet" th:href="@{/css/top.css}">
	    <link rel="stylesheet" th:href="@{/css/common.css}">
	    <!-- タブ名  -->
	    <title>トップ画面</title>
	</head>	

    <body>

		<!-- 画面最上部ログイン画面 -->
      	<div class="title" th:insert="common_replace :: header1(${top_title})">
      	</div>
		<!-- 入力要素	 -->
		<form class="color" th:action="@{/user}" th:object="${user}">
		
			<!-- サーバーで取得している値を出力 -->
			<p class="none" th:text="'出力:' + *{userMail}" />
			<p class="none" th:text="'出力:' + *{userPass}" />
			
			<!-- ログインボタン要素 -->
			<button type="submit" class="btn" >ユーザー</button>
		</form>
		    
		<form th:action="@{/master}">
			<button type="submit" class="btn" >マスター</button>
		</form>

    </body>
</html>

