<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- エンコード -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- エンコード -->
        <link rel="stylesheet" th:href="@{/css/userSignup.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    	<script type="text/javascript" src="javascript/jquery-3.6.2.min.js"></script>
		<script type="text/javascript" src="javascript/userSignup.js"></script>
    </head>

    <body class="Bgc">
        <!-- 画面最上部ログイン画面 -->
        <div class="title">
	        <div th:if="${id == 0}" th:insert="common_replace :: header_signup"></div>
	        <div th:if="${id >= 1}" th:insert="common_replace :: header_update"></div>
        </div>
        <!-- 入力要素・ボタン要素 -->
        <form class="frm" method="post" th:action="@{/user}" >
			<!-- 戻るボタン -->
			<div>
			    <button class="btn bgc"  type="submit">戻る</button>
			</div>
        </form>
        <form id="form" class="frm" method="post" th:action="@{userSign}" th:object="${usersign}" enctype="multipart/form-data">
			<div class="mainArea">
				<!-- 画像表示 -->
				<div class="image">
					<img th:src="${'data:image/png;base64,'+image}" alt="">
				</div>
				<!-- ID -->
                <div class="put none" >
                    <span class="text">画面では消す</span><input class="input" type="text" th:field="*{id}">
                </div>
                <!-- メール -->
                <div class="put" >
                    <span class="text">メールアドレス</span><input class="input" type="text" th:field="*{mail}" th:readonly="*{id >= 1}">
                </div>
                <!-- 氏名 -->
                <div class="put" >
                    <span class="text">氏名</span><input class="input" type="text" th:field="*{name}">
                </div>
                <!-- パスワード -->
                <div class="put">
                    <span class="text">パスワード</span><input class="input" type="text" th:field="*{password}">
                </div>
                <!-- パスワード（確認用） -->
                <div class="put">
                    <span class="text">パスワード(確認用)</span><input class="input" type="text" th:field="*{password2}">
                </div>
                <!-- 所属チーム　プルダウン -->
				<div class="put">
		  			<span class="text">所属</span>
		    		<select  class="input" name="team">
		    			<option th:value="0">選択してください</option>
			    		<option th:each="team : ${teamList}" 
			    				th:value="${team.team_id}"
			    				th:text="${team.team_name}"
			    				th:field="*{team_id}">
			    		</option>
		    		</select>
				</div>
				<!-- チェックボックス -->
				<div class="put">
					<span class="text Check">言語</span>
					<div class="check">
						<label th:each="program : ${languageList}">
							<input type="checkbox" name="program" th:value="${program.id}"
							th:field=*{programList}/>
							<span class="chinp" th:text="${program.language}"></span>
						</label>
					</div>
				</div>
				<!-- 画像 -->
				<div class="put">
					<span class="text imgTitle">画像</span>
					<div class="dragDropArea" >	
						<input type="file" id="file" class="previewArea" name="upload_file" accept="image/*" 
							multiple="multiple">						
						<div class="previewArea"></div>
					</div>
				</div>
                <!-- エラー表示 -->
                <p class="valiErr" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" />
                <p class="valiErr" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                <div th:each="error : ${errorlist}">
                    <p class="err" th:text="'※'+ ${error}"/>
                </div>
			</div>
			<!-- ログインボタン要素 -->
			<button type="submit" class="lbtn" >保存</button>
		</form>
	</body>
</html>
